section {
  width: 100%;
  height: calc(100vh - var(--header-height));
}

h2 {
  font: var(--headline-large);
  margin-top: 32px;
}

p {
  font: var(--paragraphs-small);
  margin-top: 16px;
}

a {
  margin-top: 24px;
}
