.loading h2 {
  color: var(--on-background);
}

section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 24px;

  ag-box {
    display: block;
    width: 100%;
  }
}
