.container {
  max-width: var(--conainer-max);
  margin: 0 auto;

  .full {
    max-width: unset;
  }
}

.flex {
  display: flex;
  flex-wrap: nowrap;

  &-column {
    flex-direction: column;
  }

  &-v-center {
    align-items: center;
  }

  &-h-left {
    justify-content: flex-start;
  }

  &-h-center {
    justify-content: center;
  }

  &-h-right {
    justify-content: flex-end;
  }

  &-h-between {
    justify-content: space-between;
  }

}

.controls {
  padding-top: 24px;

  ag-button {
    width: 100%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;

  &-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(var(--white), 0.2);
    backdrop-filter: blur(8px);
  }
}

.loader {
  border: 4px solid var(--light-gray);
  border-radius: 50%;
  border-top: 4px solid var(--primary);
  width: 45px;
  height: 45px;
  -webkit-animation: spin 1.4s linear infinite;
  animation: spin 1.4s linear infinite;

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
