.container {
  max-width: var(--conainer-max);
  margin: 0 auto;

  .full {
    max-width: unset;
  }
}

.flex {
  display: flex;
  flex-wrap: nowrap;

  &-row {
    flex-direction: row;
  }

  &-v-center {
    align-items: center;
  }

  &-h-left {
    justify-content: flex-start;
  }

  &-h-center {
    justify-content: center;
  }

  &-h-right {
    justify-content: flex-end;
  }

  &-h-between {
    justify-content: space-between;
  }

}

.controls {

}
