.box {
  display: block;
  cursor: pointer;
  background-color: var(--alternative-background);
  border-radius: 8px;
  transition: transform 0.1s ease-in;

  &:hover {
    transform: translateY(-4px);
  }

  &-visual {
    img {
      max-width: 300px;
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }

  &-info {
    padding: 16px 8px;
  }

  &-name {
    font: var(--headline-tiny-bold)
  }

  &-cost {
    font: var(--headline-tiny)
  }
}
