<ag-box-opening *ngIf="toggleBoxOpeningDialog"
                class="flex flex-v-center flex-h-center"
                [openedBoxes]="openedBoxes$ | async"
                [loading]="isBoxesOpening$ | async"
                (closeDialog)="closeBoxOpeningDialog()"></ag-box-opening>
<section *ngIf="box"
         class="container flex flex-v-center flex-h-center">
  <div class="selected-box">
    <ag-box-thumbnail
      [title]="box.name"
      [price]="box.cost"
      [imgUrl]="box.iconUrl"></ag-box-thumbnail>
    <div class="controls">
      <ag-button [text]="'Open the box'"
                 [color]="'primary'"
                 (clicked)="purchaseBox()"></ag-button>
    </div>
  </div>
</section>
